<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherSearch</title>
</head>
<body>
    <nav>
        <h1>WeatherSearch.</h1>
    </nav>
    <body>
        <form action="/search" method="post">
            <div class="form-floating mb-3">              
                <label for="floatingTextarea2" name="zip">Zip Code:</form:label>
                <input name="zip" class="form-control" required></input>
            </div>
            <button class="w-100 btn btn-lg btn-primary">Search</button>
        </form>
    </body>
</body>
</html>